.sources-card-contents {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.card-list {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    margin-top: 1%;
}

.card-list-item-sources {
    padding-bottom: 1%;
    font-size: 1rem;
    vertical-align: middle;
}

.card-list-item-span-sources {
    font-size: 0.75rem;
}

.card-list-item-a {
    margin-left: 1%;
    color: #555555;
    transition: color 0.1s ease-in-out;
}

.card-list-item-a:hover {
    color: #000000;
}