.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.updates-card {
    border-radius: 30px;
    background-color: rgb(230, 227, 227);
    color: #242424;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Iowan Old Style Bold';
    padding: 5%;
    min-height: 40vh;
}

.updates-card-contents {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.card-h2 {
    padding-bottom: 2%;
    font-size: 1.5rem;
}

.card-h2-span {
    font-size: 1rem;
} 

.card-list {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    margin-top: 1%;
}

.card-list-item {
    padding-bottom: 1%;
    font-size: 1rem;
    vertical-align: middle;
}

.card-list-item-span {
    font-size: 1rem;
}