.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.leftoff-card {
    border-radius: 30px;
    background-color: rgb(230, 227, 227);
    color: #242424;
    width: 80%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-family: 'Iowan Old Style Bold';
    padding: 5%;
    min-height: 15vh;
}

.leftoff-card-contents {
    padding-left: 5%;
    padding-right: 5%;
}

.card-h2 {
    padding-top: 2.5%;
    font-size: 1.5rem;
}

.card-h5 {
    font-size: 0.9rem;
    color: #4e4e4e;
}

.card-list {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    margin-top: 1%;
}

.card-list-item {
    padding-bottom: 1%;
    font-size: 1.5rem;
}

.card-list-item-span {
    font-size: 1rem;
}

.topic {
    color: rgb(51, 51, 184);
}

.curr-user-banner {
    color: white;
    font-family: 'Iowan Old Style Bold';
    margin-left: 8.5%;
    font-size: 15px;
}

.curr-user-div {
    margin-top: 15px;
}